<div id="download_modal" style="display: none;">
    <div class="Modal_root__5nZXA">
      <div class="bg-white Modal_dialog__e3Pgf">
        <svg class="Modal_close__C0ggP" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
          viewBox="0 0 24 24" fill="none">
          <g clip-path="url(#clip0_380_520)">
            <path
              d="M18.2648 20.9813L11.6211 14.3376L4.9774 20.9813L2.76284 18.7667L9.40653 12.123L2.76284 5.47935L4.9774 3.26479L11.6211 9.90848L18.2648 3.26479L20.4794 5.47935L13.8357 12.123L20.4794 18.7667L18.2648 20.9813Z"
              fill="#1A325D"></path>
          </g>
          <defs>
            <clipPath id="clip0_380_520">
              <rect width="24" height="24" fill="white"></rect>
            </clipPath>
          </defs>
        </svg>
        <div class="Modal_root__oWe5F">
          <img src="https://amityonline.com/_s/wtoc_9701d9f876.webp" alt="man-uses-laptop">
          <div>
            <div class="banner-form-title2">
              Download Brochure</div>
            <div class="">
              <form class="Modal_content__bZhM7 py-4 flex flex-col">
                <div class="text-sec font-railway font-medium Modal_text__hr_T8">Fill in your details here and
                  download a detailed brochure of the program</div>
                <div class="font-railway text-secondary-gray Form_group__rP395">
                  <label class="text-blu" for="name-input">Name *</label>
                  <input placeholder="Enter your full name" id="name-input"
                    class="TextInput_root__De36R undefined banner-input" value="" name="email">
                </div>

                <div class="flex items-center justify-start">
                  <div class="font-railway mr-2 mt-[1.125rem] lg:mt-[0.9166rem] basis-1/5 Form_group__rP395">
                    <label class="text-blu" id="null-label2" for="country-code-select"style="white-space: nowrap;"
                    >Country Code *</label>
                    <!-- <div class="Form_control__eYGP8"> -->
                    <select class="banner-input" id="country-code-select">
                      <option value="+91" selected="">+91</option>
                      <option value="+7840">+7840</option>
                      <option value="+93">+93</option>
                      <option value="+355">+355</option>
                      <option value="+213">+213</option>
                      <option value="+1684">+1684</option>
                      <option value="+376">+376</option>
                      <option value="+244">+244</option>
                    </select>
                  </div>
                  <div class="font-railway flex-1 overflow-auto text-secondary-gray Form_group__rP395">
                    <label class="text-blu" id="null-label3" for="phone-number">Phone Number *</label>
                    <input placeholder="Enter your no." class="TextInput_root__De36R undefined banner-input"
                      value="" id="phone-number" name="phone">
                  </div>
                </div>
                <div class="font-railway mt-3 text-secondary-gray Form_group__rP395">
                  <label class="text-blu" id="null-label4" for="email-id">Email Id *</label>
                  <input placeholder="Enter your email" class="TextInput_root__De36R undefined banner-input"
                    value="" id="email-id" name="email">
                </div>
                <div class="flex justify-center items-start mt-3">
                  <div class="mt-2">
                    <input required="" type="radio" value="1" checked="" name="consent">
                  </div>
                  <p class="ml-3 text-sec font-railway font-medium mb-2 Modal_text__hr_T8">I authorise Amity
                    University Online and its associates to contact me with updates &amp; notifications via
                    Email, SMS, WhatsApp, and Voice call as per the Privacy Policy. This consent will override
                    any registration for DNC / NDNC.</p>
                </div>
                <button type="submit" disabled=""
                  class="button_root__RRK9v mt-auto !bg-[#E7E7E7] !border-stone-500 !text-stone-500 button_b__2Obj5">
                  <span class="uppercase font-raleway">SUBMIT</span>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>