<footer>
    <div class="container">
      <div class="footer-full">
        <div class="footer-full-header">
          <button class="footer-full-btn cus-btn border-blue" style="background-color: #fff; position: relative;">Show
            More <i class="las la-arrow-down"></i></button>
        </div>
        <div class="footer-full-content">
          <div class="row">
            <div class="col-12 col-md-3">
              <div class="footer-menu">
                <ul>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Career Services</a></li>
                  <li><a href="#">Student Stories</a></li>
                  <li><a href="#">Leadership</a></li>
                  <li><a href="#">Corporate</a></li>
                  <li><a href="#">Insta Class</a></li>
                  <li><a href="#">Social Initiatives</a></li>
                  <li><a href="#">Careers at Amity Online</a></li>
                  <li><a href="#">Contact Us</a></li>
                  <li><a href="#">T & C</a></li>
                  <li><a href="#">Student Support</a></li>
                  <li><a href="#">e-VidyaBharati and e-ArogyaBharati Network Project (eVBAB)</a></li>
                  <li><a href="#">Honor Code</a></li>
                  <li class="mt-3">
                    <a href="#">Resources</a>
                    <ul class="footer-sub-menu">
                      <li><a href="#">Blog</a></li>
                      <li><a href="#">Media</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-12 col-md-4 offset-md-1">
              <div class="footer-program">
                <h5>UG Program</h5>
                <ul>
                  <li><a href="#">Bachelor of Computer Applications</a></li>
                  <li><a href="#">BCA with specialization in cloud & Security</a></li>
                  <li><a href="#">BCA with specialization in Data Analytics</a></li>
                  <li><a href="#">Bachelor of Business Administration</a></li>
                  <li><a href="#">Bachelor of Arts (Journalism and mass communication)</a></li>
                  <li><a href="#">Bachelor of commerce</a></li>
                  <li><a href="#">Bachelor of Arts</a></li>
                  <li><a href="#">Bachelor of Art (Kannada)</a></li>
                  <li><a href="#">Bachelor of Arts (Malyalam)</a></li>
                  <li><a href="#">Bachelor of Arts (Tamil)</a></li>
                  <li><a href="#">Bachelor of Arts (Telgu)</a></li>
                  <li><a href="#">Bachelor of Arts (Hindi)</a></li>
                  <li><a href="#">B.com with Specialization in International Finance & Accounting</a></li>
                </ul>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="footer-program">
                <h5>PG Program</h5>
                <ul>
                  <li><a href="#">Master of Computer Applications</a></li>
                  <li><a href="#">MCA with specialization in Blockchain</a></li>
                  <li><a href="#">MCA with specialization in ML & Al</a></li>
                  <li><a href="#">MCA with specialization in Machine Learning</a></li>
                  <li><a href="#">MCA with specialization in AR & VR</a></li>
                  <li><a href="#">Master of Business Administration</a></li>
                  <li><a href="#">MBA with specialization in Digital Marketing Management</a></li>
                  <li><a href="#">MBA with specialization in HR Analytics</a></li>
                  <li><a href="#">MBA with specialization in Data Science</a></li>
                  <li><a href="#">MBA with specialization in Business Analytics</a></li>
                  <li><a href="#">MBA with specialization in Digital Entrepreneurship</a></li>
                  <li><a href="#">Master of Arts (journalism and mass communication)</a></li>
                  <li><a href="#">M.com with specialization in Fintech</a></li>
                  <li><a href="#">M.com in Financial Management</a></li>
                  <li><a href="#">Master of Arts (Public Policy & Governance)</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="footer-main">
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="footer-logo">
              <a href="#"><img src="images/Group_4e8152da89_c0de058c55.svg" alt=""></a>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="footer-block">
              <div class="footer-title">
                <h6>Toll free Numbers</h6>
              </div>
              <div class="footer-contact">
                <p>For Admission related queries</p>
                <a href="tel:18001023434">
                  <img src="images/call.png" alt="">
                  1800-102-3434
                </a>
                <br>
                <br>
                <p>Student support Team</p>
                <a href="tel:+918826334455">
                  <img src="images/call.png" alt="">
                  +91-88-263-34455
                </a>

              </div>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="footer-block">
              <div class="footer-title">
                <h6>Newsletter</h6>
              </div>
              <div class="newsletter">
                <p>Sign up to get the latest updates</p>
                <div class="newsletter-input">
                  <input type="text" placeholder="Email ID">
                  <button>Subscribe</button>
                </div>
              </div>
              <div class="footer-title">
                <h6>Follow Us:</h6>
              </div>
              <div class="footer-social">
                <ul>
                  <li>
                    <a href="https://twitter.com/amity_online"><i class="fa-brands fa-x-twitter"></i></a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/amityonline/"><i class="fab fa-instagram"></i></a>
                  </li>
                  <li>
                    <a href="https://www.facebook.com/AmityOnlineUniversity/"><i class="fab fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="https://in.linkedin.com/school/amityonline/"><i class="fab fa-linkedin-in"></i></a>
                  </li>
                  <li>
                    <a href="https://www.youtube.com/AmityUniversityOnline"><i class="fab fa-youtube"></i></a>
                  </li>
                </ul>
              </div>
              <div class="footer-copy">© 2025 Amity Online - All Rights Reserved.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- <script>
    $('.footer-full-btn').click(function () {
	$('.footer-full-btn').toggleClass('active');
	$('.footer-full-content').toggleClass('active');
});
  </script> -->