body{background-color: #fff; color: #666; font-family: 'Raleway', sans-serif; font-size: 16px; font-weight: 400; margin: 0px; padding: 0px;}
html{scroll-behavior:smooth; font-size: 16px;}


a{
    text-decoration: none;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    color: #000;
}
a:hover {
    text-decoration: none !important;
}
a:focus{outline: none;}
input:focus, textarea:focus-visible{outline: none !important; box-shadow: none !important;}

header {
    transition-duration: 0.5s;
    padding: 0px;
    display: flex;
    flex-direction: column;
}
header.header-scroll{}
.header-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a325d;
    margin-top: 1.25rem;
    margin-bottom: .75rem;
    border-radius: 1rem;
}
.logo-wrapper{
    padding: 0 0 0 1.6666666667rem;
}
.logo-wrapper img{
    height: 2.75rem;
    width: 7.75rem;
}
.header-content{
    padding: 1.0833333333rem 0;
    display: flex;
    gap: 20px;
    align-items: center;
    padding-right: 20px;
}
.header-menu ul.site-menu li{
    font-size: 1rem;
    letter-spacing: 1.92px;
    margin-left: 20px;
}
.menu-link{
    color: #fff;
    font-size: .8rem;
}
.menu-link:hover{
    color: #fff;
}
.site-navbar .site-navigation .site-menu .has-children>a span:after {
    content: "\f078";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 8px;
    margin-left: 5px;
    position: relative;
    top: -1px;
}
.header-menu .site-menu{
    padding-left: 0px;
}
.header-btn{
    display: flex;
    gap: 20px;
}
.cus-btn{
    display: inline-flex;
    height: 2.5rem;
    border-radius: 25px;
    padding: 0 1rem;
    align-items: center;
    text-transform: uppercase;
    gap: 10px;
    font-size: .9rem;
    font-weight: 600;
    border-width: 1px;
    border-style: solid;
    letter-spacing: .025rem;
    cursor: pointer;
    text-align: center  ;
    justify-content: center;
}
.cus-btn i{
    font-size: 20px;
}
.border-light, a.border-light, button.border-light{
    background-color: transparent;
    border-color: #fff;
    color: #fff;
}
.btn-yellow, a.btn-yellow, button.btn-yellow{
    background-color: #ffc907;
    color: #1a325d;
    border-color: #1a325d;
}
.border-blue, a.border-blue, button.border-blue{
    background-color: transparent;
    border-color: #1a325d;
    color: #1a325d;
}
.btn-white, a.btn-white, button.btn-white{
    background-color: #fff;
    color: #1a325d;
    border-color: #fff;
}
.header-search{
    position: relative;
    display: flex;
    align-items: center;
}
.header-search-icon{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    color: #fff;
    background-color: #ffffff22;
    font-size: 20px;
    position: relative;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}
.header-search input{
    background-color: transparent;
    height: 2.5rem;
    border: none;
    width: 0px;
    padding: 0px;
    transition-duration: 0.5s;
    color: #fff;
}
.header-search input.active{
    width: auto;
}
.banner-block {
    position: relative;
    border-radius: 1.3333333333rem;
    box-shadow: 0.2083333333rem 0.2083333333rem 2.0833333333rem 0.625rem hsla(0,0%,78%,.35);
    background: #fff;
    display: flex;
    overflow: hidden;
}
.banner-content {
    padding: 2.8333333333rem 3.25rem;
    max-width: 40%;
    z-index: 3;
    display: flex;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    color: #1a325d;
}
.banner-content h1 {
    font-family: 'Baskervville', serif;
    font-size: 3rem;
}
.banner-img {
    width: 60%;
    z-index: 1;
    position: relative;
}
.banner-img::after {
    content: "";
    position: absolute;
    width: 4rem;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(90deg, #fff 28.17%, rgba(26, 50, 93, 0));
    z-index: 2;
}
.banner-img img{
    width: 100%;
}

.heading-block h2{
    font-family: 'Baskervville', serif;
    color: #1a325d;
    font-size: 2rem;
}

.approval-block{
    padding: 3.75rem 5rem;
}
.approval-btn-block{
    margin-bottom: 30px;
}
a.approval-btn{
    padding: 1rem 1.5rem;
    border-radius: .8rem;
    display: block;
    text-align: center;
    font-weight: 500;
}
a.approval-btn:hover{
    box-shadow: 5px 5px 10px #00000022;
}
a.approval-yellow{
    background-color: #FFC907;
    color: #1A325D;
}
a.approval-yellow:hover{
    color: #1A325D;
}
a.approval-green{
    background-color: #5DCA7B;
    color: #FFFFFF;
}
a.approval-green:hover{
    color: #FFFFFF;
}
.approval-blue{
    background-color: #4194F4;
    color: #FFFFFF;
}
.approval-blue:hover{
    color: #FFFFFF;
}
.approval-pink{
    background-color: #FF3E6C;
    color: #FFFFFF;
}
.approval-pink:hover{
    color: #FFFFFF;
}



footer{
    padding: 60px 0px 40px 0px;
}
.footer-main{
    padding: 0 10.4166666667rem ;
}
.footer-logo img{
    max-width: 250px;
}
.footer-title h6{
    color: #1a325d;
    font-weight: 800;
    margin-bottom: 20px;
}
.footer-contact{
    margin-bottom: 20px;
}
.footer-contact p{
    font-size: 14px;
    margin-bottom: 0px;
    font-weight: 600;
}
.footer-contact a{
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    color: #666;
}
.footer-contact a i{
    color: #000;
}
.newsletter p{
    font-size: 14px;
    font-weight: 600;
}
.newsletter-input{
    border-radius: 25px;
    border: 1px solid #1a325d;
    padding: 5px;
    display: flex;
    margin-bottom: 30px;
}
.newsletter-input input{
    border: none;
    background-color: transparent;
    height: 40px;
    flex-grow: 1;
    padding: 0px 20px;
}
.newsletter-input button{
    background-color: #1a325d;
    border: none;
    color: #fff;
    border-radius: 20px;
    height: 40px;
    padding: 0px 20px;
}
.footer-social{
    margin-bottom: 20px;
}
.footer-social ul{
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 10px;
}
.footer-social ul li{
    list-style: none;
}
.footer-social ul li a{
    background-color: transparent;
    border: 1px solid #1a325d;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1a325d;
}
.footer-full{
    padding-bottom: 60px;
}
.footer-full-header{
    display: flex;
    position: relative;
    justify-content: center;
}
.footer-full-header::before{
    content: "";
    background-color: #cfcfcf;
    height: 1px;
    width: 100%;
    left: 0;
    position: absolute;
    top: 50%;
    z-index: 0;
}
.footer-full-btn.active i{
    transform: rotate(180deg);
}
.footer-full-content{
    border-bottom: 1px solid #cfcfcf;
    padding: 30px 0px;
    display: none;
}
.footer-full-content.active{
    display: block;
}
.footer-menu{
    border-right: 1.5px solid #d4d4d4;
    padding-right: 60px;
}
.footer-menu ul{
    padding: 0px;
    margin: 0px;
}
.footer-menu ul li{
    list-style: none;
    padding: 5px 0px;
}
.footer-menu ul li a{
    color: #1a325d;
    font-weight: 700;
    font-size: 16px;
}
ul.footer-sub-menu li{
    padding: 3px 0px;
}
ul.footer-sub-menu li a{
    color: #686868;
    font-size: 14px;
    font-weight: 600;
}
.footer-program h5{
    color: #1a325d;
    font-weight: 700;
    font-size: 16px;
}
.footer-program ul{
    padding: 0px;
    margin: 0px;
}
.footer-program ul li{
    list-style: none;
    padding: 5px 0px;
}
.footer-program ul li a{
    color: #686868;
    font-size: 14px;
    font-weight: 600;
}




.container {
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: toRem(12);
    padding-right: toRem(12);
}
.wide-container {
    max-width: 100%;
    width: 100%;
}
@media (min-width: 600px) {
    .container {
      width: 100%;
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 19.2px;
      padding-right: 19.2px;
    }
    .wide-container {
      max-width: 600px;
      width: 600px;
      margin-left: auto;
      margin-right: auto;
    }
}
@media (min-width: 1280px) {
    .wide-container {
      max-width: 100%;
      width: 100%;
    }
    .container {
      max-width: 1280px;
      width: 100%;
      padding-left: 2rem;
      padding-right: 2rem;
    }
}
@media (min-width: 1500px) {
    .container {
      max-width: 1500px;
      width: 100%;
    }
}
@media (min-width: 1600px) {
    .container {
      max-width: 1600px;
      width: 100%;
    }
}
@media (min-width: 1920px) {
    .container {
      max-width: 1920px;
      width: 100%;
    }
}
@media (min-width: 1200px){
    .menu-link{font-size: .6666666667rem;}
}



/* media screen and (max-width: 1170px)
---------------------------------------------------------------------- */
@media screen and (max-width:1170px) {
    
}
/* Large devices (laptops/desktops, 992px and up) */
@media screen and (max-width: 992px) {
    
}
/* media screen and (max-width: 728px)
---------------------------------------------------------------------- */
@media screen and (max-width:728px) {
	
}
/* media screen and (max-width: 640px)
---------------------------------------------------------------------- */
@media screen and (max-width:640px) {
    

}
/* media screen and (max-width: 550px)
---------------------------------------------------------------------- */
@media screen and (max-width:550px) {
    .header-block{padding: 20px 0px;}
    .header-search{display: none;}
    .header-btn{display: none;}
    .site-menu-toggle{color: #fff;}
    
    .footer-main{padding: 1.5625rem;}
    .newsletter-input input{padding-right: 0px;}
    
    body:before{z-index: 999;}
    .footer-logo{margin-bottom: 20px;}
}
/* media screen and (max-width: 480px)
---------------------------------------------------------------------- */
@media screen and (max-width:500px) {
    
}
/* media screen and (max-width: 414px)
---------------------------------------------------------------------- */
@media screen and (max-width:414px) {
    

}

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
 .owl-carousel,.owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative
}

.owl-carousel {
    display: none;
    width: 100%;
    z-index: 1
}

.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden
}

.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0,0,0)
}

.owl-carousel .owl-item,.owl-carousel .owl-wrapper {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0)
}

.owl-carousel .owl-item {
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%
}

.owl-carousel .owl-dots.disabled,.owl-carousel .owl-nav.disabled {
    display: none
}

.no-js .owl-carousel,.owl-carousel.owl-loaded {
    display: block
}

.owl-carousel .owl-dot,.owl-carousel .owl-nav .owl-next,.owl-carousel .owl-nav .owl-prev {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.owl-carousel .owl-nav button.owl-next,.owl-carousel .owl-nav button.owl-prev,.owl-carousel button.owl-dot {
    background: 0 0;
    color: inherit;
    border: none;
    padding: 0!important;
    font: inherit
}

.owl-carousel.owl-loading {
    opacity: 0;
    display: block
}

.owl-carousel.owl-hidden {
    opacity: 0
}

.owl-carousel.owl-refresh .owl-item {
    visibility: hidden
}

.owl-carousel.owl-drag .owl-item {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.owl-carousel.owl-grab {
    cursor: move;
    cursor: grab
}

.owl-carousel.owl-rtl {
    direction: rtl
}

.owl-carousel.owl-rtl .owl-item {
    float: right
}

.owl-carousel .animated {
    animation-duration: 1s;
    animation-fill-mode: both
}

.owl-carousel .owl-animated-in {
    z-index: 0
}

.owl-carousel .owl-animated-out {
    z-index: 1
}

.owl-carousel .fadeOut {
    animation-name: fadeOut
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.owl-height {
    transition: height .5s ease-in-out
}

.owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity .4s ease
}

.owl-carousel .owl-item .owl-lazy:not([src]),.owl-carousel .owl-item .owl-lazy[src^=""] {
    max-height: 0
}

.owl-carousel .owl-item img.owl-lazy {
    transform-style: preserve-3d
}

.owl-carousel .owl-video-wrapper {
    position: relative;
    height: 100%;
    background: #000
}

.owl-carousel .owl-video-play-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    background: url(owl.video.play.png) no-repeat;
    cursor: pointer;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    transition: transform .1s ease
}

.owl-carousel .owl-video-play-icon:hover {
    -ms-transform: scale(1.3,1.3);
    transform: scale(1.3,1.3)
}

.owl-carousel .owl-video-playing .owl-video-play-icon,.owl-carousel .owl-video-playing .owl-video-tn {
    display: none
}

.owl-carousel .owl-video-tn {
    opacity: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity .4s ease
}

.owl-carousel .owl-video-frame {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%
}



body:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
  }
  
  body.offcanvas-menu:before {
    opacity: 1;
    visibility: visible;
  }
  
  a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
  }
  
  a,
  a:hover {
    text-decoration: none !important;
  }
  
  
  .site-navbar .site-navigation .site-menu {
    margin-bottom: 0;
  }
  
  .site-navbar .site-navigation .site-menu .active>a span {
    background: #CFA336;
    color: #000;
    border-radius: 30px;
    display: inline-block;
    padding: 5px 20px;
  }
  
  .site-navbar .site-navigation .site-menu a {
    text-decoration: none !important;
    display: inline-block;
  }
  
  .site-navbar .site-navigation .site-menu>li {
    display: inline-block;
  }
  
  /*.site-navbar .site-navigation .site-menu>li>a {
    padding: 0.7em 1.1em 0;
    color: #fff;
    font-size: 16px;
    text-decoration: none !important;
  }*/
  .site-navbar .site-navigation .site-menu>li>a:after{
    position: absolute;
      content: "";
      width: 0;
      height: 1px;
      left: 0;
      bottom: -4px;
      background-color: #CFA336;
      transition: all 0.3s ease;
  }
  .site-navbar .site-navigation .site-menu>li>a>span {
    /*padding: 5px 20px;*/
    display: inline-block;
    /*-webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;*/
    border-radius: 30px;
  }
  
  .site-navbar .site-navigation .site-menu>li>a:hover>span {
    display: inline-block;
  }
  
  .site-navbar .site-navigation .site-menu .has-children {
    position: relative;
  }
  
  .site-navbar .site-navigation .site-menu .has-children>a span {
    position: relative;
    /*padding-right: 30px;*/
  }
  
  .site-navbar .site-navigation .site-menu .has-children>a span:after {
    content: "";
    font-size: 16px;
    /*background-color: transparent;
    height: 10px;
    width: 10px;
    border-color: transparent #fff #fff transparent;
    border-style: solid;
    border-width: 1px;*/
  }
  
  .site-navbar .site-navigation .site-menu .has-children .dropdown {
    visibility: hidden;
    opacity: 0;
    top: 100%;
    position: absolute;
    text-align: left;
    border-top: 2px solid transparent;
    -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
    padding: 0px 0;
    margin-top: 20px;
    margin-left: 0px;
    background: #fff;
    -webkit-transition: 0.2s 0s;
    -o-transition: 0.2s 0s;
    transition: 0.2s 0s;
    left:1.1em;
    z-index: 9;
  }
  
  .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
    position: absolute;
  }
  
  .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
    bottom: 100%;
    left: 20%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  
  .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px;
  }
  
  .site-navbar .site-navigation .site-menu .has-children .dropdown a {
    text-transform: none;
    letter-spacing: normal;
    -webkit-transition: 0s all;
    -o-transition: 0s all;
    transition: 0s all;
    color: #343a40;
  }
  
  .site-navbar .site-navigation .site-menu .has-children .dropdown .active>a {
    color: #CFA336 !important;
  }
  
  .site-navbar .site-navigation .site-menu .has-children .dropdown>li {
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 200px;
  }
  
  .site-navbar .site-navigation .site-menu .has-children .dropdown>li>a {
    padding: 9px 20px;
    display: block;
  }
  
  .site-navbar .site-navigation .site-menu .has-children .dropdown>li>a:hover {
    background: #fafafb;
  }
  
  .site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>a {
    position: relative;
  }
  
  .site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>a:after {
    position: absolute;
    right: 0;
    content: "\e315";
    right: 20px;
    font-family: 'icomoon';
  }
  
  .site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>.dropdown,
  .site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>ul {
    left: 100%;
    top: 0;
  }
  
  .site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children:hover>a,
  .site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children:active>a,
  .site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children:focus>a {
    background: #fafafb;
  }
  
  .site-navbar .site-navigation .site-menu .has-children:hover>a,
  .site-navbar .site-navigation .site-menu .has-children:focus>a,
  .site-navbar .site-navigation .site-menu .has-children:active>a {
    /*color: #CFA336;*/
  }
  
  .site-navbar .site-navigation .site-menu .has-children:hover>a span,
  .site-navbar .site-navigation .site-menu .has-children:focus>a span,
  .site-navbar .site-navigation .site-menu .has-children:active>a span {
  }
  
  .site-navbar .site-navigation .site-menu .has-children:hover,
  .site-navbar .site-navigation .site-menu .has-children:focus,
  .site-navbar .site-navigation .site-menu .has-children:active {
    cursor: pointer;
  }
  
  .site-navbar .site-navigation .site-menu .has-children:hover>.dropdown,
  .site-navbar .site-navigation .site-menu .has-children:focus>.dropdown,
  .site-navbar .site-navigation .site-menu .has-children:active>.dropdown {
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    margin-top: 0px;
    visibility: visible;
    opacity: 1;
  }
  
  .site-mobile-menu {
    width: 300px;
    position: fixed;
    right: 0;
    z-index: 2000;
    padding-top: 20px;
    background: #fff;
    height: calc(100vh);
    -webkit-transform: translateX(110%);
    -ms-transform: translateX(110%);
    transform: translateX(110%);
    -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
    box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
  }
  
  .offcanvas-menu .site-mobile-menu {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
  
  .site-mobile-menu .site-mobile-menu-header {
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
    float: right;
    margin-top: 8px;
  }
  
  .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
    font-size: 30px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 0px;
    line-height: 1;
    cursor: pointer;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
  }
  
  .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
    color: #f8f9fa;
  }
  
  .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
    float: left;
    margin-top: 10px;
    margin-left: 0px;
  }
  
  .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
    display: inline-block;
    text-transform: uppercase;
  }
  
  .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
    max-width: 70px;
  }
  
  .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
    text-decoration: none;
  }
  
  .site-mobile-menu .site-mobile-menu-body {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: relative;
    padding: 0 20px 20px 20px;
    height: calc(100vh - 52px);
    padding-bottom: 150px;
  }
  
  .site-mobile-menu .site-nav-wrap {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
  }
  
  .site-mobile-menu .site-nav-wrap a {
    padding: 10px 20px;
    display: block;
    position: relative;
    color: #212529;
  }
  
  .site-mobile-menu .site-nav-wrap a:hover {
    color: #000;
  }
  
  .site-mobile-menu .site-nav-wrap li {
    position: relative;
    display: block;
  }
  
  .site-mobile-menu .site-nav-wrap li.active>a {
    color: #CFA336;
  }
  
  .site-mobile-menu .site-nav-wrap .arrow-collapse {
    position: absolute;
    right: 0px;
    top: 10px;
    z-index: 20;
    width: 36px;
    height: 36px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
    background: #f8f9fa;
  }
  
  .site-mobile-menu .site-nav-wrap .arrow-collapse:before {
    font-size: 12px;
    z-index: 20;
    font-family: "Font Awesome 6 Free";
    content: "\f078";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-180deg);
    -ms-transform: translate(-50%, -50%) rotate(-180deg);
    transform: translate(-50%, -50%) rotate(-180deg);
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
  }
  
  .site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .site-mobile-menu .site-nav-wrap>li {
    display: block;
    position: relative;
    float: left;
    width: 100%;
  }
  
  .site-mobile-menu .site-nav-wrap>li>a {
    padding-left: 20px;
    font-size: 20px;
  }
  
  .site-mobile-menu .site-nav-wrap>li>ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .site-mobile-menu .site-nav-wrap>li>ul>li {
    display: block;
  }
  
  .site-mobile-menu .site-nav-wrap>li>ul>li>a {
    padding-left: 40px;
    font-size: 16px;
  }
  
  .site-mobile-menu .site-nav-wrap>li>ul>li>ul {
    padding: 0;
    margin: 0;
  }
  
  .site-mobile-menu .site-nav-wrap>li>ul>li>ul>li {
    display: block;
  }
  
  .site-mobile-menu .site-nav-wrap>li>ul>li>ul>li>a {
    font-size: 16px;
    padding-left: 60px;
  }
  
  .site-mobile-menu .site-nav-wrap[data-class="social"] {
    float: left;
    width: 100%;
    margin-top: 30px;
    padding-bottom: 5em;
  }
  
  .site-mobile-menu .site-nav-wrap[data-class="social"]>li {
    width: auto;
  }
  
  .site-mobile-menu .site-nav-wrap[data-class="social"]>li:first-child a {
    padding-left: 15px !important;
  }